.box{margin-bottom:14px;}
.box .box-title{padding:5px 0;color:#b51218;text-transform:uppercase;font-weight:normal;font-size:22px;}
.box .box-content{position:relative;background:#f3f3f3;margin-top:6px;padding:15px 13px;}
.box_mid{padding:0px 0px;margin-bottom:28px;}
.box_mid .padding_none{padding:0 0 30px 0 !important;}
.box_mid .box_mid-title{position:relative;padding:10px 0px 5px 0px;text-align:left;overflow:hidden;font-weight:normal;}
.box_mid .box_mid-title .mid_title_l{font-size:28px;text-transform:uppercase;color:#25366c;display:inline-block;position:relative;font-weight:lighter;}
.box_mid .box_mid-title .mid_title_l a{color:#25366c;}
.box_mid .box_mid-title .mid_title_r{float:right;}
.box_mid .box_mid-content{padding-top:0;}
.box_menu .box-content{padding:0px;margin:0px;position:relative;background:#fff;}
.box_menu .box-content > *{position:relative;}
.box_menu li{display:block;width:100%;}
.box_menu .box-content > ul > li{position:relative;padding-right:0px;border:none !important;}
.box_menu .box-content > ul > li:before{content:'';background:#25366c;width:3px;position:absolute;height:100%;z-index:1;}
.box_menu li a{display:block;position:relative;padding:15px 10px 15px 15px;color:#444444;overflow:hidden;border-bottom:1px dashed #eaeaea;background:#ebebeb;font-size:16px;margin:7px 0;}
.box_menu li:first-child a{border-top:none;}
.box_menu li:last-child a{border-bottom:none;}
.box_menu li a:hover,
.box_menu li a.current{color:#b51218;font-weight:bold;}
.box_menu li a:hover:before,
.box_menu li a.current:before{left:0px;}
.box_menu li a:hover:after,
.box_menu li a.current:after{display:none;}
.box_menu li a:hover > div:before,
.box_menu li a.current > div:before{color:#fff;}
.box_menu li ul{display:none;background:#fff;width:12em;}
.box_menu .sm-simple.sm-vertical a span.sub-arrow{right:10px;margin-left:0px;}
.box .product_focus .product_focus-row{margin-left:-7px;margin-right:-7px;}
.box .product_focus .product_focus-row:after{content:'';display:block;clear:both;}
.box .product_focus .product_focus-row .img,
.box .product_focus .product_focus-row .info{float:left;width:50%;padding-left:7px;padding-right:7px;margin:6px 0px;}
.box .product_focus .product_focus-row .img a,
.box .product_focus .product_focus-row .img img{display:block;width:100%;}
.box .product_focus .product_focus-row .img a{border:1px solid #dadada;background:#fff;}
.box .product_focus .product_focus-row .info > h3{font-weight:lighter;margin-bottom:4px;}
.box .product_focus .product_focus-row .info > .price{text-decoration:line-through;}
.box .product_focus .product_focus-row .info > .price_buy{font-weight:bold;}
.box_news_focus .box-content{background:#ffffff;padding:0!important;}
.box_news_focus .news_focus-row{margin-left:-7px;margin-right:-7px;}
.box_news_focus .news_focus-row:after{content:'';display:block;clear:both;}
.box_news_focus .news_focus-row .img{float:left;width:45%;padding-left:7px;padding-right:7px;margin:10px 0px;overflow:hidden;}
.box_news_focus .news_focus-row .info{float:left;width:55%;padding-left:7px;padding-right:7px;margin:5px 0px;text-align:justify;}
.box_news_focus .news_focus-row .img a,
.box_news_focus .news_focus-row .img img{display:block;width:100%;}
.box_news_focus .news_focus-row .img img{-moz-transition:-moz-transform 0.5s ease-in;-webkit-transition:-webkit-transform 0.5s ease-in;-o-transition:-o-transform 0.5s ease-in;}
.box_news_focus .news_focus-row .img img:hover{-moz-transform:scale(1.2);-webkit-transform:scale(1.2);-o-transform:scale(1.2);}
.box_news_focus .news_focus-row .info > h3{font-weight:lighter;font-size:14px;}
.box_news_focus .news_focus-row .info .date{color:#999999;padding:7px 10px 3px 20px;background:url(../images/date2.png) no-repeat left;font-style:italic;font-size:12px;}
.product_item{border:1px solid #e7e7e7;background:#fff;position:relative;}
.product_item:after{content:'';position:absolute;left:-1px;right:-1px;bottom:-3px;height:3px;background:#d2d2d2;}
.product_item .img{text-align:center;position:relative;overflow:hidden;}
.product_item .img a:first-child,
.product_item .img img{display:block;width:100%;}
.product_item .img:before{content:'';position:absolute;top:50%;left:50%;bottom:50%;right:50%;background:rgba(0,0,0,0.5);-webkit-transition:all 500ms ease-out 0s;-moz-transition:all 500ms ease-out 0s;-o-transition:all 500ms ease-out 0s;transition:all 300ms ease-out 0s;z-index:1;}
.product_item .img:hover:before{top:0%;left:0%;bottom:0%;right:0%;}
.product_item .img .ficon-zoom-in,
.product_item .img .ficon-shopping-cart9{position:absolute;top:50%;margin-top:-17px;height:34px;line-height:34px;width:37px;border:1px solid #ffffff;color:#fff;background:none;font-size:22px;cursor:pointer;-webkit-transition:all 500ms ease-out 0s;-moz-transition:all 500ms ease-out 0s;-o-transition:all 500ms ease-out 0s;transition:all 300ms ease-out 0s;z-index:2;}
.product_item .img .ficon-zoom-in:hover,
.product_item .img .ficon-shopping-cart9:hover{background:#fff;color:#000;}
.product_item .img .ficon-zoom-in{right:100%;margin-right:6px;}
.product_item .img .ficon-shopping-cart9{left:100%;margin-left:6px;}
.product_item .img:hover .ficon-zoom-in{right:50%;}
.product_item .img:hover .ficon-shopping-cart9{left:50%;}
.product_item .info{padding:0px 10px 8px;text-align:center;}
.product_item .info .info-title{display:block;height:40px;overflow:hidden;margin:5px 0px;}
.product_item .info h3{display:table;height:100%;width:100%;}
.product_item .info h3 a{line-height:20px;display:table-cell;height:100%;width:100%;vertical-align:middle;}
.product_item .info .price{font-size:12px;color:#ccc;text-decoration:line-through;}
.product_item .info .price_buy{font-size:16px;font-weight:bold;color:#08651e;}
.product_scroll{background:#ebebeb;padding:18px;}
.product_scroll .product_item{margin-bottom:2px;}
.product_scroll.has_price .product_item .info-price{height:40px;}
.product_scroll .owl-nav{display:none;}
.box_statistic .statistic_content{}
.box_statistic .statistic_content .row{padding:6px 0px 6px 8px;}
.box_statistic .statistic_content .col{float:left;}
.box_statistic .statistic_content .col_title{padding-left:32px;font-size:11px;}
.box_statistic .statistic_content .row_online .col_title{background:url(../images/online.gif) no-repeat 0px 0px;}
.box_statistic .statistic_content .row_visitors .col_title{background:url(../images/visitors.gif) no-repeat 0px 0px;}
.box_statistic .statistic_content .col_mid{width:8px;}
.box_statistic .statistic_content .row_online .col_content{font-weight:bold;color:#ff0000;}
.box_statistic .statistic_content .row_visitors .col_content{font-weight:bold;color:#436d00;}
.tth_navigation{padding-bottom:20px;}
.tth_navigation ul{float:left;list-style:none;margin:0px;padding:0px;}
.tth_navigation li{float:left;padding-left:24px;position:relative;}
.tth_navigation li a{color:#7999ff;font-size:15px;}
.tth_navigation li.first{padding-left:0px;}
.tth_navigation li:before{content:'>';position:absolute;left:10px;top:0px;height:5px;width:5px;color:#7999ff;}
.tth_navigation li.first:before{display:none;}
.tth_navigation li a:hover{color:#08651e;}
.list_share{text-align:right;}
.support_home .info_banner{text-align:center;}