@import url(http://fonts.googleapis.com/css?family=Open+Sans);
#navbar,
#navbar ul,
#navbar ul li,
#navbar ul li a,
#navbar #menu-button {
  margin: 0;

  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;


}

.ribbon-wrapper {
    width: 60px;
    height: 60px;
    overflow: hidden;
    position: absolute;
    top: -4px;
    right: -3px;
}
.ribbon.sale {
    background-color: #ef5028;
}
.ribbon {
    color: #fff;
    text-align: center;
       z-index: 999;
      -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    position: relative;
    padding: 4px 0;
    left: 1px;
    top: 4px;
    width: 80px;
    text-transform: uppercase;
 
}
.ribbon:after {
    right: 0;
}

.ribbon:before, .ribbon:after {
    content: "";
    border-top: 3px solid #6e8900;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    bottom: -3px;
}

#navbar:after,
#navbar > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;

}
#navbar #menu-button {
  display: none;
}
#navbar {

  font-family: 'Open Sans', sans-serif;
  line-height: 1;
  background: white;
  position: fixed;
  width: 100%;
  z-index: 9999;
  padding-right: 50px;
  padding-left: 40px;
box-shadow: 2px 5px 10px 0px #cbcbcb;


}

#navbar > ul > li {
  float: left;
}
#navbar.align-center > ul {
  font-size: 0;
  text-align: center;
}
#navbar.align-center > ul > li {
  display: inline-block;
  float: none;
}
#navbar.align-center ul ul {
  text-align: left;
}
#navbar.align-right > ul > li {
  float: right;
}
#navbar.align-right ul ul {
  text-align: right;
}
#navbar > ul > li > a {
  padding: 18px;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
  font-weight: bold;
}
#navbar > ul > li > a:hover {
  color: #ef5028;
  }
#navbar > ul > li:hover > a,
#navbar > ul > li.active > a {

}
#navbar > ul > li.has-sub > a {
  padding-right: 25px;
}
#navbar > ul > li.has-sub > a::after {
  position: absolute;
  top: 21px;
  right: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  content: "";
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
#navbar > ul > li.has-sub:hover > a::after {
  border-color: #f5e50b;
}
#navbar ul ul {
  position: absolute;
  left: -9999px;
}
#navbar li:hover > ul {
  left: auto;
}
#navbar.align-right li:hover > ul {
  right: 0;
}
#navbar ul ul ul {
  margin-left: 100%;
  top: 0;
}
#navbar.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
#navbar ul ul li {
  height: 0;
  -webkit-transition: height .2s ease;
  -moz-transition: height .2s ease;
  -ms-transition: height .2s ease;
  -o-transition: height .2s ease;
  transition: height .2s ease;
}
#navbar ul li:hover > ul > li {
  height: 32px;
}
#navbar ul ul li a {
 padding: 7px 0px 10px 10px;
  width: 200px;
  font-size: 15px;

  background: #2b3990;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#navbar ul ul li:hover > a,
#navbar ul ul li a:hover {
  color: #ef5028;
}
#navbar ul ul li.has-sub > a::after {
  position: absolute;
  top: 13px;
  right: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  content: "";
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
#navbar.align-right ul ul li.has-sub > a::after {
  right: auto;
  left: 10px;
  border-bottom: 0;
  border-right: 0;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}
#navbar ul ul li.has-sub:hover > a::after {
  border-color: #ffffff;
}

@media all and (max-width: 1024px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  #navbar {
    width: 100%;
    font-size: 10px;
  }
  #navbar ul {
    width: 100%;
    display: none;
  }
  #navbar.align-center > ul,
  #navbar.align-right ul ul {
    text-align: left;
  }
  #navbar ul li,
  #navbar ul ul li,
  #navbar ul li:hover > ul > li {
    width: 100%;
    height: auto;
    border-top: 1px solid rgba(120, 120, 120, 0.15);
  }
  #navbar ul li a,
  #navbar ul ul li a {
    width: 100%;
  }
  #navbar > ul > li,
  #navbar.align-center > ul > li,
  #navbar.align-right > ul > li {
    float: none;
    display: block;
  }
  #navbar ul ul li a {
    padding: 20px 20px 20px 30px;
    font-size: 14px;
    color: #000000;
    background: none;
  }
  #navbar ul ul li:hover > a,
  #navbar ul ul li a:hover {
    color: #000000;
  }
  #navbar ul ul ul li a {
    padding-left: 40px;
  }
  #navbar ul ul,
  #navbar ul ul ul {
    position: relative;
    left: 0;
    right: auto;
    width: 100%;
    margin: 0;
  }
  #navbar > ul > li.has-sub > a::after,
  #navbar ul ul li.has-sub > a::after {
    display: none;
  }
  #menu-line {
    display: none;
  }
  #navbar #menu-button {
    display: block;
    padding: 20px;
    color: #000000;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
  }
  #navbar #menu-button::after {
    content: '';
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    width: 15px;
    height: 2px;
    background: #000000;
  }
  #navbar #menu-button::before {
    content: '';
    position: absolute;
    top: 25px;
    right: 20px;
    display: block;
    width: 15px;
    height: 3px;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
  }
  #navbar .submenu-button {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid rgba(120, 120, 120, 0.15);
    height: 52px;
    width: 52px;
    cursor: pointer;
  }
  #navbar .submenu-button::after {
    content: '';
    position: absolute;
    top: 21px;
    left: 26px;
    display: block;
    width: 1px;
    height: 11px;
    background: #000000;
    z-index: 99;
  }
  #navbar.submenu-button::before {
    content: '';
    position: absolute;
    left: 21px;
    top: 26px;
    display: block;
    width: 11px;
    height: 1px;
    background: #000000;
    z-index: 99;
  }
  #navbar .submenu-button.submenu-opened:after {
    display: none;
  }
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky {
  padding-top: 60px;
}

/* Style the tab */
.tab {
    overflow: hidden;
    background-color: #2b3990;
    color: #ffffff;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    /*cursor: pointer;*/
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
     color: white;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #2b3990;

}

/* Create an active/current tablink class */
.tab button.active {
    background-color:#2b3990;
    color: white;
}

/* Style the tab content */
.tabcontent {
    display: none;
    border-top: none;
}
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}
.bottom-left a{
   text-decoration: none;
   color: #fff;
}
.la{
    position: relative;
    text-align: center;
    color: white;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-skype {
  background: #3B5998;
  color: white;
}


.fa-google {
  background: #3B5998;
  color: white;
}
.fa-youtube-play {
  background: #3B5998;
  color: white;
}
.fa {
  padding: 2px;
  margin: 2px 1px;
  border-radius: 50%;
 
}

.fa:hover {
    opacity: 0.7;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

td {
    
    padding: 8px;
    border: 1px solid #ddd;

}
th{
   text-align: center;
    padding: 8px;
    border: 1px solid #ddd;
}
tr:nth-child(even){background-color: #f2f2f2}
